/* Navigation Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.sidebar h2 a {
    text-decoration: none;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar li a {
    text-decoration: none;
    color: white;
}

.sidebar li:hover {
    background: #33334d;
}

/* Main Workspace Window */
.main-content {
    flex: 1;
    padding: 30px;
}

.header {
    margin-bottom: 30px;
}

.navBtn {
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px
}

.hidden {
    display: none !important;
}
